<!DOCTYPE html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolios</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolios.css') }}">
</head>

<body>
  </div class="container">
  <h1 class="MoneyBox-title">Tus Portafolios</h1>

  {% for portfolio in portfolios %}
    <div class="moneybox_editar">
      <div class="moneybox-name-state">
        <h1 style="text-align:center;font-family: 'Montserrat'; 
          font-size:25px; font-weight:500; background-color:#076664; 
          color:white; border:0">
          Portafolio {{ portfolio.type }}
        </h1>
      </div>
      <div class="moneybox-settings">
        <div>
          <svg width="21px" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 200 200">
            <defs>
              <style>
                .cls-b {
                  fill: #FFF;
                }
              </style>
            </defs>
            <title>iconos</title>
            <path class="cls-b"
              d="M168,27.15H140.7V16.65H136v10.5H64.05V16.65H59.33v10.5H28.61A11.83,11.83,0,0,0,16.8,39V172.06a11.83,11.83,0,0,0,11.81,11.81H168a11.83,11.83,0,0,0,11.81-11.81V39A11.83,11.83,0,0,0,168,27.15ZM28.61,31.88H59.33V40.8h4.73V31.88H136V40.8h4.73V31.88H168A7.1,7.1,0,0,1,175.09,39V58.58H21.52V39A7.1,7.1,0,0,1,28.61,31.88ZM168,179.14H28.61a7.1,7.1,0,0,1-7.09-7.09V63.3H175.09V172.06A7.1,7.1,0,0,1,168,179.14Z" />
            <rect class="cls-b" x="76.91" y="114.57" width="46.68" height="4.73" />
          </svg>
          <h3 style="font-weight: 600;">
            {{ portfolio.info.startdate.strftime('%Y/%m/%d') }}
              - 
            {{ portfolio.info.cutoffdate.strftime('%Y/%m/%d') }}
          </h3>
        </div>
        <div>
          <h3 style="font-weight: 600;"> {{ portfolio.info.rate }}%</h3>
        </div>
        <div>
          <svg width="30px" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 200 171.72">
            <defs>
              <style>
                .cls-c {
                  fill: #fff;
                }
              </style>
            </defs>
            <title>iconos</title>
            <path class="cls-c"
              d="M71.61,106.34l-.09-16.5-7.14,13.24H59.48L52.34,90.41v15.93H42.23V70.14h9.12L62.07,89.43,72.5,70.14h9.12l.09,36.2Z" />
            <path class="cls-c"
              d="M107.89,106.34l-5.69-9.67-5.55,9.67H84L95.91,88.08,84.44,70.14H96.89l5.59,9.1,5.45-9.1h11.94L108.45,87.62l12.13,18.72Z" />
            <path class="cls-c" d="M154.37,70.14v36.2h-9.12l-12.5-16.45v16.45H121.94V70.14h9.12l12.5,16.45V70.14Z" />
            <path class="cls-c"
              d="M185.08,39.63s.24-25-20.19-25H29.62c-10,0-18.09,8.93-18.09,19.91V137.72c0,11,8.11,19.91,18.09,19.91H167c10,0,18.09-8.93,18.09-19.91C185.07,137.72,185.09,40.12,185.08,39.63Zm-4.44,98.09c0,8.3-6.12,15-13.66,15H29.62c-7.54,0-13.66-6.73-13.66-15V34.53c0-8.3,6.12-15,13.66-15H163.87c9.26,0,16.77,8.26,16.77,18.45Z" />
          </svg>
          <h3 style="font-weight: 600;">${{ portfolio.info.amount }}</h3>
        </div>
      </div>
    </div>
    <div class="moneybox">
      <div class="moneybox_botoneslaterales">
        <button class="moneybox_botoneslaterales-button">
          <div style="display: grid; justify-items: center;">
            <img class="moneybox_botoneslaterales-button-aportacion"
              src="./view-contract-button.svg" alt="">
            <h5>Ver contrato</h5>
          </div>
        </button>
      </div>
      <div class="moneybox_contenido">
        <div class="moneybox-tabla">
          <table>
            <tr>
              <th>Fecha de corte</th>
              <th>Réditos</th>
              <th>ISR</th>
              <th>Réditos acomulados</th>
            </tr>
            {% for row in portfolio.table.iterrows() %}
              <tr>
                <td>
                  {{ row[1]['Cut off Date'] }}
                </td>
                <td>{{ row[1]['Revenues'] | round(2) }}</td>
                <td>{{ row[1]['ISR'] | round(2)}}</td>
                <td>{{ row[1]['Accumulated Revenues'] | round(2) }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: flex-end;">
          <div class="status"></div>
          <div>
            <p style="color: #076664; text-align: end; font-weight: 700;">
              TOTAL: ${{ portfolio.info.amount + portfolio.table.iloc[-2, -1] }}
            </p>
            <div class="moneybox_cliente"></div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</body>

</html>